@import url('font-awesome.min.css');
@import url('vex.css');
@import url('vex-theme-os.css');
@import url('mapbox.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.0/css/bootstrap-select.min.css');
@import url('maki.min.css');

body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; width:100%; }

#direc{cursor: pointer}

.btn{
    background: #4bc1b9!important;
    color: white !important;
}

.carousel-control{
  width: 60px;
}

.caret:before{
  font-family: FontAwesome;
  content: "\f002";
  color: #99520e!important;
}
.caret{
  border-top: 0px !important;
  right: 8px !important;
  top:25% !important;
  margin-bottom: 18px;
  margin-right: 10px;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width: 240px !important;
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 1px !important;
}

.leaflet-bottom .leaflet-control a {
    color: #4bc1b9!important;
}

    
.leaflet-left .leaflet-control{
  margin-bottom: 1px !important;
    color: #4bc1b9!important;
}
/* fallback 
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 300;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v17/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  line-height: 1;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}*/

.img-control {
    background-image: url('../../assets/sedona_grey.jpg');
    width: 167px;
    height: 77px;
    cursor: pointer;
    margin-bottom:0px !important;
    margin-right:1px !important;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #4bc1b9 !important;
}
.nav-pills{
  margin-left:40%;
}
.art-gallery{
  background-image: url('../../assets/art_icon.png');
}
.nav-pills>li>a{
  background-color:white !important;
}
/*#4bc1b9!important*/
/*#99520e
background: #7A1800 !important;
blue 4bc1b9*/
.vex.vex-theme-os .vex-dialog-button.vex-dialog-button-primary {
  	background: #4bc1b9 !important;
}
/*#99520e
border-top: 20px solid #58595B !important;*/
.vex.vex-theme-os .vex-content {
    border-top: 20px solid #99520e !important;
    line-height: 1em !important;
    width: 370px !important;
    border-top: 20px solid #99520e!important;
}
.vex-dialog-button-primary{
  background: #7C4A35!important;
}
.vex.vex-theme-os .vex-dialog-button{
  padding: .75em 1em !important;
}
.vex.vex-theme-os {
    padding-top: 80px !important;
}
.vex{
  overflow: hidden !important;
}
.vex-dialog-message{
  font-size: 15px !important;
}
.leaflet-top,
.leaflet-bottom {
  position: absolute !important;
  z-index: 499 !important; /* was 1000 */
  pointer-events: none !important;
  }

/* Compatible with Leaflet 0.7 */
.leaflet-touch .leaflet-bar-part-single {
  -webkit-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  border-bottom: none;
}
.leaflet-touch .leaflet-control-locate {
  box-shadow: none;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-control-locate a {
  font-size: 1.4em;
  color: #444;
}
.leaflet-control-locate.active a {
  color: #2074B6;
}
.leaflet-control-locate.active.following a {
  color: #FC8428;
}

/* Mapbox specific adjustments */
.leaflet-control-locate a {
  padding: 3px 0 0 8px;
}
.leaflet-control-locate.requesting a {
  padding: 3px 0 0 4px;
}
.leaflet-compact-attribution{
  display: none;
}



.custom-popup .leaflet-popup-content-wrapper {
  border-radius: 10px !important;
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  max-width: 230px;
  line-height:24px;
  }
.custom-popup .leaflet-popup-content-wrapper a {
    color:rgba(255,255,255,0.5);
  }
.custom-popup .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.custom-popup .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
}
.marker-description a{
  text-decoration: underline;
  width: 180px !important;
}

#direc a{  
  color:#3887BE !important;
  font-weight: bold;
}

#loader {
  z-index: 100000;
    /*position:absolute; top:0; bottom:0; width:100%;
    background:rgba(255, 255, 255, 1);
    transition:background 1s ease-out;
    -webkit-transition:background 1s ease-out;*/
}
.carousel-control {
  padding-top:10%;
}
#pubartCarousel{
  width:65%;
  position: fixed !important;
  bottom: 3px !important;
  left: 19% !important;
}
#pubartCarouselmobile{
  width:56%;
  position: fixed !important;
  bottom: 3px !important;
  left: 0% !important;
}
.carousel-caption{
  padding-bottom:0px !important;
  bottom: 2px !important;
}
.thumbnail{
  margin-bottom:0px !important;
  height: 170px !important;
  background: none !important;
  background-color: none !important;
}
.thumbnail img{
  height: 170px !important;
}
#loader.done {
    background:rgba(255, 255, 255, 0);
}
#loader.hide {
    display:none;
}
#loader .message {
    position:absolute;
    height: 50px;
    width: 50px;
    left:50%;
    z-index: 100000;
    top:50%;
    background-image: url('../../assets/wheel.gif');
}

.leaflet-control-geocoder {
  border-radius: 4px;
  background: white;
  min-width: 26px;
  min-height: 26px;
}

.leaflet-touch .leaflet-control-geocoder {
  min-width: 30px;
  min-height: 30px;
}

.leaflet-control-geocoder a, .leaflet-control-geocoder .leaflet-control-geocoder-icon {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder .leaflet-control-geocoder-alternatives a {
  width: inherit;
  height: inherit;
  line-height: inherit;
}

.leaflet-control-geocoder a:hover, .leaflet-control-geocoder .leaflet-control-geocoder-icon:hover {
  border-bottom: none;
  display: inline-block;
}

.leaflet-control-geocoder-form {
  display: none;
  vertical-align: middle;
}
.leaflet-control-geocoder-expanded .leaflet-control-geocoder-form {
  display: inline-block;
}
.leaflet-control-geocoder-form input {
  font-size: 120%;
  border: 0;
  background-color: transparent;
  width: 246px;
}

.leaflet-control-geocoder-icon {
  border-radius: 4px;
  width: 26px;
  height: 26px;
  border: none;
  background-color: white;
  background-image: url(images/geocoder.png);
  background-repeat: no-repeat;
  background-position: center;
}

.leaflet-touch .leaflet-control-geocoder-icon {
  width: 30px;
  height: 30px;
}

.leaflet-control-geocoder-throbber .leaflet-control-geocoder-icon {
  background-image: url(images/throbber.gif);
}

.leaflet-control-geocoder-form-no-error {
  display: none;
}

.leaflet-control-geocoder-form input:focus {
  outline: none;
}

.leaflet-control-geocoder-form button {
  display: none;
}
.leaflet-control-geocoder-error {
  margin-top: 8px;
  margin-left: 8px;
  display: block;
  color: #444;
}
.leaflet-control-geocoder-alternatives {
  display: block;
  width: 272px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaflet-control-geocoder-alternatives-minimized {
  display: none;
  height: 0;
}
.leaflet-control-geocoder-alternatives li {
  white-space: nowrap;
  display: block;
  overflow: hidden;
  padding: 5px 8px;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.leaflet-control-geocoder-alternatives li a, .leaflet-control-geocoder-alternatives li a:hover {
  width: inherit;
  height: inherit;
  line-height: inherit;
  background: inherit;
  border-radius: inherit;
  text-align: left;
}

.leaflet-control-geocoder-alternatives li:last-child {
  border-bottom: none;
}
.leaflet-control-geocoder-alternatives li:hover, .leaflet-control-geocoder-selected {
  background-color: #f5f5f5;
}
.leaflet-control-geocoder-address-detail {
  
}
.leaflet-control-geocoder-address-context {
  color: #666;
}

#side-menu {
  background-color: #f3f3f3;
  color: #666;
  font-size: 1.8rem;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
}
#side-menu-header {
  background-color: #bdbcc1;
  height: 86px;
}
#side-menu #search-bar-div {
  background-color: #e7e7e7;
  padding: .75rem;
}
#search-select-bar {
  font-size: 1.8rem;
  height: 4rem;
  width: 100%;
}
#search-select-list {
  padding: 0;
  list-style: none;
}
#search-select-list li {
  cursor: pointer;
  padding: .5rem .75rem;
  white-space: nowrap;
}
#side-menu.is-active {
  width: 340px;
}
#side-menu a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
#side-menu a:hover {
  color: #f1f1f1;
}
#side-menu .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  height: 100vh;
  position: relative;
  transition: margin-left .5s;
}
#main.is-active {
  margin-left: 340px;
}

@media screen and (max-height: 450px) {
  #side-menu a {font-size: 18px;}
}

#hamburger {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  line-height: 1;
  padding: 18px 15px;
  position: absolute;
  left: 50px;
  top: 10px;
  transition: .5s;
  z-index: 1;
}
#hamburger:focus, #hamburger:active {
  outline: none !important;
  box-shadow: none;
}
#hamburger.is-active {
  background: none;
  left: 260px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .hamburger.is-active:hover {
    opacity: 0.7; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: white;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  /*
  * Squeeze
  */
  .hamburger--squeeze .hamburger-inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
    .hamburger--squeeze .hamburger-inner::before {
      transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
    .hamburger--squeeze .hamburger-inner::after {
      transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  
  .hamburger--squeeze.is-active .hamburger-inner {
    transform: rotate(45deg);
    transition-delay: 0.12s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
    .hamburger--squeeze.is-active .hamburger-inner::before {
      top: 0;
      opacity: 0;
      transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
    .hamburger--squeeze.is-active .hamburger-inner::after {
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

#search-select-list li[data-selected="true"] {
  background-color: #4bc1b9;
}
